:root{
  --cor-1 : rgb(152, 242, 248);
  --cor-2 : rgb(38, 1, 73);
  --cor-3 : rgb(17, 1, 39);
}

body,
ul {
    list-style-type: none;
    padding: 0;
    position: relative;
}
a {
    font-style: normal;
    font-weight: 900;
    font-stretch: ultra-expanded;
    text-decoration: none;
    color: rgb(255, 0, 242);
    display: inline-block;
    padding: 80px;
    transition: background .3s;
}

#nav ul ul{
  display: none;
  left: 0;
  position: absolute;
  opacity: 0.3s;
  transition: all .3s;
}

#logo img{
    padding: auto;
    height: 70px;
    width: 70px;
    position:inherit;
}

#imagem1 img{
    padding: auto;
    height: 120px;
    width: 120px;
    position:inherit;
}

#header {
  box-sizing: border-box;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--cor-3);
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

 #menu a{
  text-decoration: none;
  display: inline-block;
  padding: 30px;
  transition: background .3s;
}

#btn-mobile {
  display: none;
}
#header ul li:last-child a{
  float: right;
  background-color: rgb(164, 250, 210);
  padding: 25px;
} 

#menu li a:hover{
  background-color: rgba(164, 250, 210);
  padding: 30px;
  display: inline-block;
  transition: background .50s;
}
@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: rgb(49, 31, 63);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 0,1rem;
    margin: 0,2rem;
    border-bottom: 2px solid rgba(76, 226, 7, 0.05);
  }
  #btn-mobile{
    display: flex;
    padding: 25px 9px;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 4px;
    background-color: rgb(164, 250, 210);
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #logo img{
    padding: auto;
    height: 60px;
    width: 60px;
    position:sticky;
}
}
